{% extends "base.html" %}
{% block content %}

<header>
    <div>
        <img class="nav__icon" src="{{ url_for('static', filename='icon.png') }}" alt="Icon">
    </div>
    
    <div class="nav__list">
        <ul>
            <li><a href="/">Home</a> </li>
            <li><a href="/about">About</a></li>
            <li><a href="https://github.com/Miyunn/Sinhala-Alphabet-Practice">Project</a></li>
        </ul>
    </div>
    
    <a href="/">
        <img class="nav__icon" src="{{ url_for('static', filename='back1.png') }}" alt="Icon">
      </a>
</header>

<div class="container">
    <div class="menu">
        <div class="title">
            <h2>About</h2>
        </div>

        <div class="textbox">
            <p><br>The goal of this application is to lay the groundwork for handwritten character recognition in Sinhala. 
                Many diverse sectors use and demand handwritten character recognition. 
                In order to read addresses and sort mail using an automated method, 
                the US Postal Service uses handwritten recognition. This is only one of many applications 
                for handwritten character recognition. 
                <br> <br>
                For such systems to be a reality there needs to be a 
                sufficient base. This application strives to collect the data that is needed while providing 
                the community a platform to practice their Sinhala handwriting. 
                The source code datasets and other necessary information of this project 
                can be accessed through the GitHub repository.
            </p>
        </div>

        <div class="btn__github">
            <a href="https://github.com/Miyunn/Sinhala-Alphabet-Practice">
                <img src="{{ url_for('static', filename='git.png') }}" alt="Github"/>
            </a>
        </div>

</div>

<footer>
    <p>Desgined by Kavinthe Perera</p>
</footer>

{% endblock %}