{% extends "base.html" %}
{% block content %}

<header>
    <div>
        <img class="nav__icon" src="{{ url_for('static', filename='icon.png') }}" alt="Icon">
    </div>
    
    <div class="nav__list">
        <ul>
            <li><a href="/">Home</a> </li>
            <li><a href="/about">About</a></li>
            <li><a href="https://github.com/Miyunn/Sinhala-Alphabet-Practice">Project</a></li>
        </ul>
    </div>
    
    <a href="/">
        <img class="nav__icon" src="{{ url_for('static', filename='back1.png') }}" alt="Icon">
      </a>
</header>

<div class="container">
    <div class="menu">
        <div class="title">
            <h2>About</h2>
        </div>
    </div>

    <div class="content">
        <h4>Purpose</h4>
    </div>
</div>

<footer>
    <p>Desgined by Kavinthe Perera</p>
</footer>

{% endblock %}