{% extends "base.html" %}
{% block content %}

<header>
  <div>
    <img class="nav__icon" src="{{ url_for('static', filename='icon.png') }}" alt="Icon">
  </div>
  <div class="nav__list">
    <ul>
      <li><a href="/">Home</a> </li>
      <li><a href="/about">About</a></li>
      <li><a href="https://github.com/Miyunn/Sinhala-Alphabet-Practice">Project</a></li>
    </ul>
  </div>
  <div>
    <a href="/">
      <img class="nav__icon" src="{{ url_for('static', filename='back.png') }}" alt="Icon">
    </a>
  </div>
</header>

<div class="container">
  <div class="menu">
    <h2 class="title">Let Me guess</h2>
    
    <div>
      <p style="margin-top: 0.5rem;">Write letter</p>
    </div>
    
    <div>
      <canvas id="canvas" width="200" height="200"></canvas>
    </div>
    
    {% if letter %}
      <p style="font-size: 3rem;"> {{letter}} </p>
    {% endif %}
      
    <div>
      <form id="practice-form" action="guess" method="POST">
        <input id="pixels" name="pixels" type="hidden" />
        <input id="letter" name="letter" type="hidden" value="{{letter}}" />
        <button type="butt on" class="btn__check" onclick="practiceAction()">Check Answer</button> 
        <br> 
        <button type="button" class="btn__clear" onclick="resetCanvas()">Clear Canvas</button>
      </form>
    </div>

  </div>
</div>

<footer>
  <p>Desgined by Kavinthe Perera</p>
</footer>

<script>
  $(document).ready(function() {
    startCanvas()
  })
</script>

{% endblock %}