{% extends "base.html" %}
{% block content %}

<header>
    <div>
        <img class="nav__icon" src="{{ url_for('static', filename='icon.png') }}" alt="Icon">
    </div>
    
    <div class="nav__list">
        <ul>
            <li><a href="/">Home</a> </li>
            <li><a href="/about">About</a></li>
            <li><a href="https://github.com/Miyunn/Sinhala-Alphabet-Practice">Project</a></li>
        </ul>
    </div>
    
    <a href="/">
        <img class="nav__icon" src="{{ url_for('static', filename='back1.png') }}" alt="Icon">
      </a>
</header>

<div class="container">
    <div class="menu">

        <div class="title">
            <h2>Practice Sinhala Handwritting with AI</h2>
        </div>

        <div class="btn_practice">
            <a href="/practice">
                <p>Practice</p>
            </a>
        </div>
        
        <div class="btn_guess">
            <a href="/guess">
                <p>Let Me Guess</p>
            </a>
        </div>

        <div class="btn__help">
            <a href="/help">
                <p>How to Write</p>
            </a>
        </div>

        <div class="btn__improve">
            <a href="/add-data">
                <p>Feeling Confident?</p>
            </a>
        </div>

        <div class="btn__github">
            <a href="https://github.com/Miyunn/Sinhala-Alphabet-Practice">
                <img src="{{ url_for('static', filename='git.png') }}" alt="Github"/>
            </a>
        </div>
    </div>    
</div>
   
<footer>
    <p>Desgined by Kavinthe Perera</p>
</footer>

{% endblock %}