{% extends "base.html" %}
{% block content %}

<header>
    <p>Header Place Holder (Until I figure out what to put here)</p>
</header>

<div class="container">
<div class="menu">

    <div class="title">
        <h2>Practice Sinhala Handwritting with AI</h2>
    </div>


    <div class="btn_practice">
        <a href="/practice">
            <p>Practice</p>
        </a>
    </div>

    <div class="btn__improve">
        <a href="/add-data">
            <p>Improve Model</p>
        </a>
    </div>

    <div class="btn__github">
        <a href="https://github.com/Miyunn/Sinhala-Alphabet-Practice">
            <img src="{{ url_for('static', filename='git.png') }}" alt="Github"/>
        </a>
    </div>
</div>
   
<footer>
    <p>Desgined by Kavinthe Perera</p>
</footer>

{% endblock %}