{% extends "base.html" %}
{% block content %}

    <div class="header">
        <img class="nav-logo" src="{{ url_for('static', filename='logo.png') }}" alt="Akuru">
    </div>

    <div class="main-container">
        <div class="btn">
            <a class="btn-main" href="/practice">Practice</a>
        </div>

        <div class="improve">
            <a href="/add-data">
                <p>Improve Model</p>
            </a>
        </div>

        <div class="git">
            <img class="git-logo" src="{{ url_for('static', filename='git.png') }}" alt="Github">
        </div>
   
        </div>
    </div>
    
    <div class="footer">
        <p>Developed By Kavinthe Perera</p>
    </div>

{% endblock %}